@media(orientation: portrait) {
    html {
        transform: rotate(-90deg);
        transform-origin: top left;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100vh;
        height: 100vw;
    }
}

body {
    background: white;
    display: flex;
    margin: 0;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

#header {
    background: lightgreen;
    width: 100%;
    height: 50px;
    position: fixed;
    margin-top: -10px;
    z-index: 3;

}

#background {
    background-image: url(/image/background.PNG);
    background-size: 100% 100vh;
    width: 100%;
    height: 100vh;
    float: left;


}

#under {
    background: black;
    width: 100%;
    height: 50px;
    
    bottom: 0%;
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    color: black;
    font-size: 40pt;
    margin: 100px;
}

h2 {
    color: black;
    font-size: 20pt;
    
    white-space: pre;
}
#menu {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 500px;
    height: 500px;
    float: left;
    margin: 50px;
    background-repeat: no-repeat;
    background-image: url(/image/menu2.PNG);
    background-size: 500px 500px;
    position: relative;
    float: left;
    z-index: 1;
    
}
#recipe {
    width: 70vw;
    margin-left: 500px;
}
#img {
    width: 350px;
    height: 250px;
    background-image: url(/image/밥.png);
    background-size: 350px 250px;
    margin-top: 180px;
    background-repeat: no-repeat;
}
#img2 {
    width: 100px;
    height: 100px;
    
    background-size: 100px 100px;
    margin-left: 20 0px;
}
p {
    float: left;
}

#bar {
    width: 100px;
    height: 100vh;
    background: white;
    border: 1px solid black;
    margin-left: 1450px;
    margin-top: -400px;
    display: flex;
    justify-content: center;
    align-items: center;    
}
#bar img {
    width: 50px;
    width: 50px;
    margin-left: -20px;
}
