body {
    background: white;
    display: flex;
    margin: 0;
    justify-content: center;
}

#header {
    background: lightgreen;
    width: 100%;
    height: 60px;
    position: fixed;
    margin-top: -10px;
    z-index: 3;
    
}

#background {
    background-image: url(/image/background.PNG);
    background-size: 100% 30    00px;
    width: 100%;
    height: 3000px;
    
    
}

#under {
    background: black;
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0%;
    position: fixed;
    z-index: 2;
}
#allmenu {
    float: left;
    margin-top: 70px;
    margin-left: 150px;
}

#menu1 {

    justify-content: center;
    align-items: center;
    display: flex;
    width: 300px;
    height: 300px;
    float: left;
    margin: 50px;
    background-repeat: no-repeat;
    background-image: url(/image/menu.PNG);
    background-size: 300px 300px;
    position: relative;
    z-index: 1;
}

#menu1:hover {
    transform: rotate(-10deg);
    cursor: pointer;

}
#menu {
    
    justify-content: center;
    align-items: center;
    display: flex;
    width: 300px;
    height: 300px;
    float: left;
    margin: 50px;
    background-repeat: no-repeat;
    background-image: url(/image/menu.PNG);
    background-size: 300px 300px;
    position: relative;
    z-index: 1;
    
}

#menu:hover {
    transform: rotate(-10deg);
    cursor: pointer;
    
}

#img {
    width: 200px;
    height: 150px;
    background-image: url(/image/완성.png);
    background-size: 200px 150px;
    margin-top: 100px;
    background-repeat: no-repeat;
}
h2 {
    color: white;
    font-size: 10pt;
    text-align: center;
}

audio {
    width: 0;
}